<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>1</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{41, 9}, {0, 200}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>A9023B55-3F88-4FB2-9ACC-09DFAA4A6A98</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>1</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{2, 177}, {325, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>F6ACB74C-F77D-49DC-B2D6-3B145F3C9422</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>175</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Path</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.33333333333333331</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{41, 40}, {259, 92}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>35A8ED4B-D1A5-488D-A0BA-1E40DC9400F0</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>modelPoints</key>
					<array>
						<string>{41, 132}</string>
						<string>{113, 120}</string>
						<string>{235, 52}</string>
						<string>{300, 40}</string>
					</array>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>1</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>160</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Smart Path</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{301, 15}, {0, 162}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>4BBCB0D6-2618-49E7-85B1-971F654AF564</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>1</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{42, 132}, {259, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>6636DB26-446C-4773-B80E-54936B5A7177</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>145</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>1</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{303, 40}, {-261, -1}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>3C88BFC4-D395-45FE-A725-A1AF8CF8FCF9</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>145</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>1</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBM
					dWNpZGFHcmFuZGU7fQp7XGNvbG9ydGJsO1xy
					ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVk
					MFxncmVlbjBcYmx1ZTA7fQp7XCpcZXhwYW5k
					ZWRjb2xvcnRibDs7XGNzZ2VuZXJpY3JnYlxj
					MFxjMFxjMDt9ClxwYXJkXHR4NTYwXHR4MTEy
					MFx0eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMz
					NjBcdHgzOTIwXHR4NDQ4MFx0eDUwNDBcdHg1
					NjAwXHR4NjE2MFx0eDY3MjBccGFyZGlybmF0
					dXJhbFxxY1xwYXJ0aWdodGVuZmFjdG9yMAoK
					XGYwXGZzMjggXGNmMiBcdXAwIFxzaGFkXHNo
					YWR4NDBcc2hhZHktNDBcc2hhZHI2MFxzaGFk
					bzg1IFxzaGFkYzIgVGltZX0=
					</data>
					<key>className</key>
					<string>ResizeText</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{328, 170}, {34, 17}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>C507ADFC-4B3B-4318-82F0-28F202E40F05</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBM
					dWNpZGFHcmFuZGU7fQp7XGNvbG9ydGJsO1xy
					ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVk
					MFxncmVlbjBcYmx1ZTA7fQp7XCpcZXhwYW5k
					ZWRjb2xvcnRibDs7XGNzZ2VuZXJpY3JnYlxj
					MFxjMFxjMDt9ClxwYXJkXHR4NTYwXHR4MTEy
					MFx0eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMz
					NjBcdHgzOTIwXHR4NDQ4MFx0eDUwNDBcdHg1
					NjAwXHR4NjE2MFx0eDY3MjBccGFyZGlybmF0
					dXJhbFxxY1xwYXJ0aWdodGVuZmFjdG9yMAoK
					XGYwXGZzMjggXGNmMiBcdXAwIFxzaGFkXHNo
					YWR4NDBcc2hhZHktNDBcc2hhZHI2MFxzaGFk
					bzg1IFxzaGFkYzIgU1AxfQ==
					</data>
					<key>className</key>
					<string>ResizeText</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{17, 124}, {24, 17}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>95FBE618-284B-4B90-BF99-86114A3096DD</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBM
					dWNpZGFHcmFuZGU7fQp7XGNvbG9ydGJsO1xy
					ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVk
					MFxncmVlbjBcYmx1ZTA7fQp7XCpcZXhwYW5k
					ZWRjb2xvcnRibDs7XGNzZ2VuZXJpY3JnYlxj
					MFxjMFxjMDt9ClxwYXJkXHR4NTYwXHR4MTEy
					MFx0eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMz
					NjBcdHgzOTIwXHR4NDQ4MFx0eDUwNDBcdHg1
					NjAwXHR4NjE2MFx0eDY3MjBccGFyZGlybmF0
					dXJhbFxxY1xwYXJ0aWdodGVuZmFjdG9yMAoK
					XGYwXGZzMjYgXGNmMiBcc2hhZFxzaGFkeDQw
					XHNoYWR5LTQwXHNoYWRyNjBcc2hhZG84NSBc
					c2hhZGMyIFNQMn0=
					</data>
					<key>className</key>
					<string>ResizeText</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{17, 32}, {22, 16}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>889DA47D-80CD-4691-BE4B-0CFA01247AF6</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array/>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<false/>
			<key>fillShadowOffsetX</key>
			<real>3</real>
			<key>fillShadowOffsetY</key>
			<real>3</real>
			<key>fillType</key>
			<integer>0</integer>
			<key>frame</key>
			<string>{{0, 0}, {368, 212}}</string>
			<key>gridTolerance</key>
			<real>10</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>BFE1C9F4-17E0-4C6D-AEE4-A1E3EFA60C92</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>4</integer>
				<key>anchorSize</key>
				<string>{0, 0}</string>
				<key>group</key>
				<integer>1</integer>
				<key>height</key>
				<real>212</real>
				<key>resolution</key>
				<real>72</real>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>368</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>rulerOriginCorner</key>
			<integer>0</integer>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{184, 106}</string>
			<key>stroke1Color</key>
			<string></string>
			<key>stroke1Enabled</key>
			<false/>
			<key>stroke2Color</key>
			<string></string>
			<key>stroke2Enabled</key>
			<false/>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>1</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>2</real>
			<key>strokeShadowBlur</key>
			<real>3</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict/>
	<key>version</key>
	<integer>8</integer>
</dict>
</plist>
