<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEFyaWFsTVQ7fQp7XGNvbG9ydGJsO1xyZWQy
					NTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVkMFxn
					cmVlbjBcYmx1ZTI1NTt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMxMDAwMDA7fQpccGFyZFx0eDU2MFx0
					eDExMjBcdHgxNjgwXHR4MjI0MFx0eDI4MDBc
					dHgzMzYwXHR4MzkyMFx0eDQ0ODBcdHg1MDQw
					XHR4NTYwMFx0eDYxNjBcdHg2NzIwXHBhcmRp
					cm5hdHVyYWxccWNccGFydGlnaHRlbmZhY3Rv
					cjAKClxmMFxmczI4IFxjZjIgXHVwMCBLYWxt
					YW4gRmlsdGVyfQ==
					</data>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{175, 88}, {143, 49}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>B9D6E14C-7F0B-4213-9F3E-DDC58181D824</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>115</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{114, 113}, {61, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>67A76018-90FF-43E5-BD95-AFB9696E0C8A</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEFyaWFsTVQ7fQp7XGNvbG9ydGJsO1xyZWQy
					NTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVkMFxn
					cmVlbjBcYmx1ZTA7fQp7XCpcZXhwYW5kZWRj
					b2xvcnRibDs7XGNzZ2VuZXJpY3JnYlxjMFxj
					MFxjMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
					eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBc
					dHgzOTIwXHR4NDQ4MFx0eDUwNDBcdHg1NjAw
					XHR4NjE2MFx0eDY3MjBccGFyZGlybmF0dXJh
					bFxxY1xwYXJ0aWdodGVuZmFjdG9yMAoKXGYw
					XGZzMzYgXGNmMiBcdXAwIFxzaGFkXHNoYWR4
					NDBcc2hhZHktNDBcc2hhZHI2MFxzaGFkbzg1
					IFxzaGFkYzIgen0=
					</data>
					<key>className</key>
					<string>ResizeText</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{101, 102}, {9, 21}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>8B8CC91F-203B-4453-9D98-F1C2747E1B08</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{318, 113}, {61, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>A8EA928D-17DD-4C82-8ED0-38E7597C53E1</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEFyaWFsTVQ7fQp7XGNvbG9ydGJsO1xyZWQy
					NTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVkMFxn
					cmVlbjBcYmx1ZTA7fQp7XCpcZXhwYW5kZWRj
					b2xvcnRibDs7XGNzZ2VuZXJpY3JnYlxjMFxj
					MFxjMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
					eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBc
					dHgzOTIwXHR4NDQ4MFx0eDUwNDBcdHg1NjAw
					XHR4NjE2MFx0eDY3MjBccGFyZGlybmF0dXJh
					bFxxY1xwYXJ0aWdodGVuZmFjdG9yMAoKXGYw
					XGZzMzYgXGNmMiBcdXAwIFxzaGFkXHNoYWR4
					NDBcc2hhZHktNDBcc2hhZHI2MFxzaGFkbzg1
					IFxzaGFkYzIgeH0=
					</data>
					<key>className</key>
					<string>ResizeText</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{381, 102}, {9, 21}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>2CE35F7B-44A6-4C87-ACE7-4AB7A4F940E1</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEFyaWFsTVQ7fQp7XGNvbG9ydGJsO1xyZWQy
					NTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVkMFxn
					cmVlbjBcYmx1ZTA7fQp7XCpcZXhwYW5kZWRj
					b2xvcnRibDs7XGNzZ2VuZXJpY3JnYlxjMFxj
					MFxjMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
					eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBc
					dHgzOTIwXHR4NDQ4MFx0eDUwNDBcdHg1NjAw
					XHR4NjE2MFx0eDY3MjBccGFyZGlybmF0dXJh
					bFxxY1xwYXJ0aWdodGVuZmFjdG9yMAoKXGYw
					XGZzMzYgXGNmMiBcdXAwIFxzaGFkXHNoYWR4
					NDBcc2hhZHktNDBcc2hhZHI2MFxzaGFkbzg1
					IFxzaGFkYzIgXn0=
					</data>
					<key>className</key>
					<string>ResizeText</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{382, 95}, {8, 21}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>53E252DF-2F3F-4DDC-B26C-6F7D7024281C</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>67A76018-90FF-43E5-BD95-AFB9696E0C8A</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>B9D6E14C-7F0B-4213-9F3E-DDC58181D824</string>
					<key>shapeRatio</key>
					<real>0.51020408163265307</real>
				</dict>
			</array>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>0.000000:1.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<false/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>2</real>
			<key>fillType</key>
			<integer>0</integer>
			<key>frame</key>
			<string>{{0, 0}, {545, 234}}</string>
			<key>gridTolerance</key>
			<real>10</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>5A3B6F7B-6DF9-40BD-877E-0811E4B815B3</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>4</integer>
				<key>anchorSize</key>
				<string>{0, 0}</string>
				<key>group</key>
				<integer>0</integer>
				<key>height</key>
				<real>234</real>
				<key>name</key>
				<string>Custom</string>
				<key>resolution</key>
				<real>72</real>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>545</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>rulerOriginCorner</key>
			<integer>0</integer>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{272.5, 117}</string>
			<key>stroke1Color</key>
			<string></string>
			<key>stroke1Enabled</key>
			<false/>
			<key>stroke2Color</key>
			<string></string>
			<key>stroke2Enabled</key>
			<false/>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>1</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>1</real>
			<key>strokeShadowBlur</key>
			<real>3</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict/>
	<key>version</key>
	<integer>8</integer>
</dict>
</plist>
