<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{10, 7}, {56, 16}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>682A8E08-A3D1-441F-ABDC-EA9D31DA6814</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>Rectangle</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{10, 117}, {56, 16}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>6A5E2922-A61E-46FB-AC3D-BEA67719BC70</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Rectangle</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{38, 15}, {0, 110}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>281ABF7F-1235-435E-9D53-2E0AD3AB2F51</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>4</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>Ellipse</string>
					<key>constrainAspectRatio</key>
					<true/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.000000:0.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{30, 63}, {16, 15}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>13F2E2AE-8EA1-4CB3-9BE9-A61241934CB1</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEFyaWFsTVQ7fQp7XGNvbG9ydGJsO1xyZWQy
					NTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVkMFxn
					cmVlbjBcYmx1ZTA7fQp7XCpcZXhwYW5kZWRj
					b2xvcnRibDs7XGNzZ2VuZXJpY3JnYlxjMFxj
					MFxjMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
					eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBc
					dHgzOTIwXHR4NDQ4MFx0eDUwNDBcdHg1NjAw
					XHR4NjE2MFx0eDY3MjBccGFyZGlybmF0dXJh
					bFxxY1xwYXJ0aWdodGVuZmFjdG9yMAoKXGYw
					XGZzMzQgXGNmMiBcc2hhZFxzaGFkeDQwXHNo
					YWR5LTQwXHNoYWRyNjBcc2hhZG84NSBcc2hh
					ZGMyIEx9
					</data>
					<key>className</key>
					<string>ResizeText</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{46, 33}, {10, 21}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>9A046A17-6689-4204-8828-BEE0211F6CB9</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTA0XGNvY29hc3VicnRmODMwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEFyaWFsTVQ7fQp7XGNvbG9ydGJsO1xyZWQy
					NTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVkMFxn
					cmVlbjBcYmx1ZTA7fQp7XCpcZXhwYW5kZWRj
					b2xvcnRibDs7XGNzZ2VuZXJpY3JnYlxjMFxj
					MFxjMDt9ClxwYXJkXHR4NTYwXHR4MTEyMFx0
					eDE2ODBcdHgyMjQwXHR4MjgwMFx0eDMzNjBc
					dHgzOTIwXHR4NDQ4MFx0eDUwNDBcdHg1NjAw
					XHR4NjE2MFx0eDY3MjBccGFyZGlybmF0dXJh
					bFxxY1xwYXJ0aWdodGVuZmFjdG9yMAoKXGYw
					XGZzMzIgXGNmMiBcc2hhZFxzaGFkeDQwXHNo
					YWR5LTQwXHNoYWRyNjBcc2hhZG84NSBcc2hh
					ZGMyIFB9
					</data>
					<key>className</key>
					<string>ResizeText</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{54, 61}, {11, 20}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>21174D01-AA49-4D51-B174-9ACF14CD1E43</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Path</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.33333333333333331</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string></string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{66, 71}, {75, 54}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>49C4B143-5DEE-47D3-A3D5-3E9BD67839CF</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>modelPoints</key>
					<array>
						<string>{66, 125}</string>
						<string>{111, 107}</string>
						<string>{141, 71}</string>
					</array>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>1</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Smart Path</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>281ABF7F-1235-435E-9D53-2E0AD3AB2F51</string>
					<key>shapeEdge</key>
					<integer>4</integer>
					<key>shapeIdentifier</key>
					<string>682A8E08-A3D1-441F-ABDC-EA9D31DA6814</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>281ABF7F-1235-435E-9D53-2E0AD3AB2F51</string>
					<key>shapeEdge</key>
					<integer>4</integer>
					<key>shapeIdentifier</key>
					<string>6A5E2922-A61E-46FB-AC3D-BEA67719BC70</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>49C4B143-5DEE-47D3-A3D5-3E9BD67839CF</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>6A5E2922-A61E-46FB-AC3D-BEA67719BC70</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
			</array>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>0.000000:0.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<true/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>2</real>
			<key>fillType</key>
			<integer>5</integer>
			<key>frame</key>
			<string>{{0, 0}, {150, 142}}</string>
			<key>gridTolerance</key>
			<real>10</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>C985A5EF-03D0-4612-BF4C-9A12E6808D86</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>4</integer>
				<key>anchorSize</key>
				<string>{0, 0}</string>
				<key>group</key>
				<integer>0</integer>
				<key>height</key>
				<real>142</real>
				<key>name</key>
				<string>Custom</string>
				<key>resolution</key>
				<real>72</real>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>150</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>rulerOriginCorner</key>
			<integer>0</integer>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{75, 71}</string>
			<key>stroke1Color</key>
			<string></string>
			<key>stroke1Enabled</key>
			<false/>
			<key>stroke2Color</key>
			<string></string>
			<key>stroke2Enabled</key>
			<false/>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>1</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>2</real>
			<key>strokeShadowBlur</key>
			<real>3</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict/>
	<key>version</key>
	<integer>8</integer>
</dict>
</plist>
